<!-- Start Card component -->
<div class="card">
    <img class="card__image" src="{{cardImgURL}}" alt="{{cardImgAlt}}" />

    <div class="card-content">
        <div class="card__title">
            {{cardTitle}}
        </div>
        <div class="card__sub-title">
            {{{cardSubTitle}}}
        </div>
    </div>
</div>
<!-- End Card component -->