<!-- Start Nav Bar component -->
<nav class="nav-bar">
    <ul class="nav-items">
        {{#menuItems}}
        <li class="nav-items__item">
            <a href="{{menuLinkURL}}" class="nav-items__link {{menuLinkClasses}}">{{menuItemText}}</a>
        </li>
        {{/menuItems}}
    </ul>
</nav>
<!-- End Nav Bar component -->