---
layout: default.hbs
Title: Valtech UI Exercise
Description: First stage exercise for permanent UI developer hires
---


<article class="content-section">
    <h2>Content Section</h2>

    {{> module-card-list}}
</article>

<aside class="sidebar-section">
    <h2>Sidebar</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus reprehenderit qui iure modi, incidunt beatae ducimus labore voluptate, minima alias repellat dicta, officia placeat! Asperiores nulla at eligendi provident a.</p>
</aside>