.sidebar-section {
    position: relative;
    padding: 20px;
}

@media (min-width: $tablet-portrait-up) {
    .sidebar-section {
        display: inline-block;
        width: 30%;
        float: right;
    }
}