.sidebar-section {
    position: relative;
    padding: 20px;
    opacity: 1;
    transition: all 1s;
}

@media (min-width: $tablet-portrait-up) {
    .sidebar-section {
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;

        .sidebar-is-hidden & {
            right: -30%;
            opacity: 0;
        }
    }
}