<!-- Start Card List Module -->
<ul class="card-list">
    {{#contentCards}}
    <li class="card-list__item">
        {{> component-card }}
    </li>
    {{/contentCards}}
</ul>
<!-- End Card List Module -->