
* {
    box-sizing: border-box;
}

html {
  height          : 100%;
  width           : 100%;
  overflow: scroll;
}

body {
  display: block;
  position: relative;
  margin: 0 auto;
  font-family: initial;
  font-size: 1em;
  scroll-behavior: smooth;
}

img {
    width: 100%;
}